<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.morphtin.dishes">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.PermissionsActivity"
            android:theme="@style/AppTheme.NoActionBar.Permissions" />
        <activity android:name=".ui.activity.ChoosePhotoActivity" />
        <activity android:name=".ui.activity.MaterialListActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xykj.customview.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <provider
            android:name="com.werb.pickphotoview.provider.PickProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pick_file_paths" />
        </provider>

        <activity
            android:name=".ui.activity.UploadMenuActivity"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.WebActivity"
            android:parentActivityName=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.ItemActivity" />
        <activity android:name=".ui.activity.ChooseMaterialActivity"></activity>
        <activity android:name=".ui.activity.AddMenuStep" />
        <activity android:name=".ui.activity.MenuDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>